<nav class="navbar navbar-default navbar-clienttheme" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Movies Database</a>
    </div>
    <ul class="nav navbar-top-links navbar-right"></ul>
</nav>

<div class="container">


    <div class="row marginedtop30">
        <div class="col-lg-7">

            <div class="well bs-component">
                <div class="form-horizontal">
                    <fieldset>
                        <legend>Search for movies</legend>
                        <div class="form-group is-empty">
                            <label for="batchname" class="col-md-2 control-label">Title</label>
                            <div class="col-md-6">
                                <input type="text" [(ngModel)]="title" class="form-control" id="batchname" placeholder="enter movie title...">
                            </div>
                            <div class="col-md-2">
                                <button type="button" (click)="onSubmit($event)" class="btn btn-primary">Search</button>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-centered">
        <div class="col-lg-3 col-centered">
            <md-progress-circle *ngIf="requesting" mode="indeterminate"></md-progress-circle>
            </div>
        </div>
  
    <div *ngIf="hasError" class="row marginedtop30">
        <div class ="col-lg-7">
        <div class="bs-component">
            <div class="alert alert-dismissible alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>No data retrieved!</strong>
                Non of the providers returned in timely manner. Please try again shortly
            </div>
        </div>
    </div>
</div>

<div class="row marginedtop30">
    <div *ngFor="let movie of movies" class="col-lg-4">
        <a href="#" (click)="$event.preventDefault();show(movie.Id, movie.Provider);" class="thumbnail clienttheme">

            <div class="row">
                <div class="col-lg-6 cardbody">

                      
                    <img onError="this.src='images/Film-icon.png'" src="data:image/jpg;base64,{{movie.ImageString}}" alt="..." />
                </div>
                <div class="col-lg-6 cardbody">
                    <h4> <span class="label label-primary">{{movie.Provider}}</span></h4>
                    Check Price
                </div>
            </div>
            <div class="grid-footer">
                <div class="grid-footer-text">
                    {{movie.Title}}
                </div>
            </div>
        </a>
    </div>
</div>

<div id="dialog-results" [style.display]="movieDetails != null ? 'block': 'none'" *ngIf="movieDetails != null" class="modal">
    <div class="modal-dialog modal-dialog-wide">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" (click)="hide('#dialog-results')" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <fieldset>
                    <legend class="modal-title">{{movieDetails.Title}}</legend>
                </fieldset>
            </div>
            <div class="modal-body" style="height: 80%;">

                <div>

                    <div class="row  table-div-headerrow">
                        <div class="col-md-12">
                            <img onError="this.src='images/Film-icon.png'" src="data:image/jpg;base64,{{movieDetails.ImageString}}" alt="..." />
                        </div>
                    </div>

                    <div>
                        <div class="row">
                            <div class="col-md-2 table-div-cell">
                                Provider
                            </div>
                            <div class="col-md-10">
                                <h4> <span class="label label-primary">{{movieDetails.Provider}}</span></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 table-div-cell">
                                Rated
                            </div>
                            <div class="col-md-3">
                                <h4> <span class="label label-primary">{{movieDetails.Rated}}</span></h4>
                            </div>
                            <div class="col-md-2 table-div-cell">
                                Released
                            </div>
                            <div class="col-md-3">
                                <h4> <span class="label label-primary">{{movieDetails.Released}}</span></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 table-div-cell">
                                Price
                            </div>
                            <div class="col-md-3">
                                <h4> <span class="label label-warning">{{movieDetails.Price}}</span></h4>
                            </div>
                            <div class="col-md-2 table-div-cell">
                                Rating
                            </div>
                            <div class="col-md-3">
                                <h4> <span class="label label-primary">{{movieDetails.Rating}}</span></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 table-div-cell">
                                Story
                            </div>
                            <div class="col-md-9">
                                {{movieDetails.Plot }}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
